---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/batch
    body:
      encoding: UTF-8
      string: '{"product":[{"id":"ROR-TS","code":"ROR-TS","create_date":"2014-02-03T19:22:54.386Z","change_date":"2014-02-03T19:22:54.386Z","is_product":true,"is_sku":true,"categories":[{"id":"t-shirts","name":"T-Shirts"},{"id":"spree","name":"Spree"}],"images":[]},{"create_date":"2014-02-03T19:22:54.386Z","change_date":"2014-02-03T19:22:54.386Z","id":"ROR-TS-small","code":"ROR-TS-small","is_product":false,"is_sku":true,"base_product":{"id":"ROR-TS","name":"Ruby
        on Rails T-Shirt","code":"ROR-TS"}},{"create_date":"2014-02-03T19:22:54.386Z","change_date":"2014-02-03T19:22:54.386Z","id":"ROR-TS-medium","code":"ROR-TS-medium","is_product":false,"is_sku":true,"base_product":{"id":"ROR-TS","name":"Ruby
        on Rails T-Shirt","code":"ROR-TS"}}]}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"product\": [\n    {\n      \"success\": true\n    }, \n    {\n
        \     \"success\": true\n    }, \n    {\n      \"success\": true\n    }\n
        \ ]\n}"
  recorded_at: Tue, 27 May 2014 15:28:47 GMT
recorded_with: VCR 2.8.0
