---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/batch
    body:
      encoding: UTF-8
      string: '{"order":[{"order_number":"311174282","status":"placed","order_date":"2013-07-30T19
        =>19 =>05Z","customer":{"id":"123","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","email":"spree@example.com","first_name":"Brian","last_name":"Quinn"},"visit":{"visit_id":"12345","visitor_id":"12345","pageview_id":"0","last_pageview_id":"0"}},{"order_number":"311174282","status":"accepted","order_date":"2013-07-30T19
        =>19 =>05Z","customer":{"id":"123","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","email":"spree@example.com","first_name":"Brian","last_name":"Quinn"},"visit":{"visit_id":"12345","visitor_id":"12345","pageview_id":"0","last_pageview_id":"0"},"create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","subtotal":99.95,"total":114.95,"total_tax":5,"total_shipping":0,"total_payment_cost":114.95,"total_discounts":0,"currency":"USD","delivery_address":{"postalcode":"20814","address1":"7735
        Old Georgetown Rd","country":"US","state":"MD","city":"Bethesda"},"payment_address":{"postalcode":"20814","address1":"7735
        Old Georgetown Rd","country":"US","state":"MD","city":"Bethesda"},"items":[{"id":"2","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","status":"accepted","discount_price":0,"order_item_number":"0","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","is_product":true,"is_sku":true,"name":"Ruby
        on Rails Bag","code":"ROR-00012"}},{"id":"2","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","status":"accepted","discount_price":0,"order_item_number":"1","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-11T21:00:08.000Z","change_date":"2013-12-11T21:00:08.000Z","is_product":true,"is_sku":true,"name":"Ruby
        on Rails Tote","code":"ROR-00013"}}]}]}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order": [
            {
              "success": true
            },
            {
              "success": true
            }
          ]
        }
  recorded_at: Wed, 11 Dec 2013 21:00:20 GMT
recorded_with: VCR 2.8.0
