---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/batch
    body:
      encoding: UTF-8
      string: '{"product":[{"id":"","code":null,"create_date":"2013-07-30T20 =>08
        =>39Z","change_date":"2013-07-30T20 =>08 =>39Z","is_product":true,"is_sku":true}]}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"product\": [\n    {\n      \"error_type\": \"validation\", \n
        \     \"errors\": {\n        \"code\": \"None is not of type 'string'\"\n
        \     }, \n      \"success\": false\n    }\n  ]\n}"
  recorded_at: Tue, 27 May 2014 15:28:47 GMT
recorded_with: VCR 2.8.0
