---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/category
    body:
      encoding: UTF-8
      string: '{"id":"9","name":"Apache","create_date":"2013-12-16T19:30:13.000Z","change_date":"2013-12-16T19:30:13.000Z"}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Mon, 16 Dec 2013 19:30:14 GMT
recorded_with: VCR 2.8.0
