---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/category
    body:
      encoding: UTF-8
      string: '{"id":"9","name":null,"create_date":"2013-12-16T19:15:13.000Z","change_date":"2013-12-16T19:15:13.000Z"}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error_type": "validation",
          "errors": {
            "name": "None is not of type 'string'"
          },
          "success": false
        }
  recorded_at: Mon, 16 Dec 2013 19:15:14 GMT
recorded_with: VCR 2.8.0
