---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/order
    body:
      encoding: UTF-8
      string: '{"order_number":"311174282","cancel_date":"2013-07-30T20 =>08 =>39Z","status":"cancelled"}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Fri, 20 Dec 2013 19:17:12 GMT
recorded_with: VCR 2.8.0
