---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/cart
    body:
      encoding: UTF-8
      string: '{"id":"311174282","create_date":null,"change_date":"2013-07-30T20 =>08
        =>39Z","subtotal":0.0,"total":0.0,"total_tax":0.0,"total_shipping":0.0,"total_payment_cost":0.0,"total_discounts":0,"currency":"USD","items":[{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","status":"accepted","discount_price":0,"order_item_number":"0","cart_item_number":"0","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","is_product":true,"is_sku":true,"brand":"","name":"Ruby
        on Rails Bag","code":"ROR-00012","categories":[{"id":"123","name":"Foobar"},{"id":"456","name":"Apache"}],"images":[]}},{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","status":"accepted","discount_price":0,"order_item_number":"1","cart_item_number":"1","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","is_product":true,"is_sku":true,"brand":"","name":"Ruby
        on Rails Tote","code":"ROR-00013","categories":[{"id":"123","name":"Foobar"},{"id":"456","name":"Apache"}],"images":[]}}],"customer":{"id":"","create_date":"2014-03-05T15:33:52.000Z","change_date":"2014-03-05T15:33:52.000Z","email":"spree@example.com"},"visit":{"visit_id":"","visitor_id":"","pageview_id":"","last_pageview_id":""}}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"error_type\": \"validation\", \n  \"errors\": {\n    \"create_date\":
        \"None is not of type 'string'\"\n  }, \n  \"success\": false\n}"
  recorded_at: Wed, 05 Mar 2014 15:33:53 GMT
recorded_with: VCR 2.8.0
