---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/product
    body:
      encoding: UTF-8
      string: '{"id":"","code":null,"create_date":"2013-07-30T20 =>08 =>39Z","change_date":"2013-07-30T20
        =>08 =>39Z","is_product":true,"is_sku":true}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"error_type\": \"validation\", \n  \"errors\": {\n    \"code\":
        \"None is not of type 'string'\"\n  }, \n  \"success\": false\n}"
  recorded_at: Tue, 04 Mar 2014 16:17:59 GMT
recorded_with: VCR 2.8.0
