---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/cart
    body:
      encoding: UTF-8
      string: '{"id":"C311174282","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","subtotal":99.95,"total":114.95,"total_tax":5,"total_shipping":0,"total_payment_cost":114.95,"total_discounts":0,"currency":"USD","items":[{"id":"2","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","status":"accepted","discount_price":0,"order_item_number":"0","cart_item_number":"0","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","is_product":true,"is_sku":true,"name":"Ruby
        on Rails Bag","code":"ROR-00012"}},{"id":"2","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","status":"accepted","discount_price":0,"order_item_number":"1","cart_item_number":"1","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","is_product":true,"is_sku":true,"name":"Ruby
        on Rails Tote","code":"ROR-00013"}}],"customer":{"id":"123","create_date":"2013-12-16T14:45:29.000Z","change_date":"2013-12-16T14:45:29.000Z","email":"spree@example.com","first_name":"Brian","last_name":"Quinn"},"visit":{"visit_id":"6590869538865152","visitor_id":"3821811678576640","pageview_id":"0","last_pageview_id":"0"}}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Mon, 16 Dec 2013 14:45:30 GMT
recorded_with: VCR 2.8.0
