---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/order
    body:
      encoding: UTF-8
      string: '{"order_number":"311174282","status":"accepted","order_date":"2013-07-30T19
        =>19 =>05Z","customer":{"id":"123","create_date":"2014-03-05T16:28:50.000Z","change_date":"2014-03-05T16:28:50.000Z","email":"spree@example.com","first_name":"Brian","last_name":"Quinn"},"visit":{"visit_id":"6590869538865152","visitor_id":"3821811678576640","pageview_id":"0","last_pageview_id":""},"create_date":"2013-07-30T19
        =>19 =>05Z","change_date":"2013-07-30T20 =>08 =>39Z","subtotal":99.95,"total":114.95,"total_tax":5.0,"total_shipping":0.0,"total_payment_cost":114.95,"total_discounts":0,"currency":"USD","delivery_address":{"postalcode":"20814","address1":"7735
        Old Georgetown Rd","country":"US","state":"MD","city":"Bethesda"},"payment_address":{"postalcode":"20814","address1":"7735
        Old Georgetown Rd","country":"US","state":"MD","city":"Bethesda"},"items":[{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","status":"accepted","discount_price":0,"order_item_number":"0","cart_item_number":"0","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","is_product":true,"is_sku":true,"brand":"","name":"Ruby
        on Rails Bag","code":"ROR-00012","categories":[{"id":"123","name":"Foobar"},{"id":"456","name":"Apache"}],"images":[{"url":"http://mystore.dev/spree/products/23/product/ror_bag.jpeg?1386100484"}]}},{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","status":"accepted","discount_price":0,"order_item_number":"1","cart_item_number":"1","quantity":1,"price":22.99,"product":{"id":"2","create_date":"2013-12-23T16:13:11Z","change_date":"2013-12-23T16:13:11Z","is_product":true,"is_sku":true,"brand":"","name":"Ruby
        on Rails Tote","code":"ROR-00013","categories":[{"id":"123","name":"Foobar"},{"id":"456","name":"Apache"}],"images":[{"url":"http://mystore.dev/spree/products/23/product/ror_bag.jpeg?1386100484"}]}}]}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Wed, 05 Mar 2014 16:28:51 GMT
recorded_with: VCR 2.8.0
