---
http_interactions:
- request:
    method: post
    uri: https://event.jirafe.com/v2/123/product
    body:
      encoding: UTF-8
      string: '{"id":"12345","code":"ROR-TS","create_date":"2014-02-03T19:22:54.386Z","change_date":"2014-02-03T19:22:54.386Z","is_product":true,"is_sku":true}'
    headers:
      Authorization:
      - Bearer 123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Tue, 04 Mar 2014 16:20:36 GMT
recorded_with: VCR 2.8.0
